html
 title
  | fit birds
 style
  include ../static/css/first2.css
 script
  include ../static/script/javascript.js 
 body
 <html>
 <title>
 Fit birds
 </title>
 <head>
 <link rel="stylesheet" href="css/first2.css">
 <script type="text/javascript" src="script/javascript.js"></script>
 <head>

 <body>
 <nav  >
 <ul class="top" id="drop">
 <li><a  href="/" >HOME</a></li>
 <li><a   href="#" >ABOUT</a></li>
 <li><a  href="/dash" >RESOURCES</a></li>
 <li><a  href="#" >CARRERS</a></li>
 <li><a  href="#" >CONTACT US</a></li>
 <li class="right"><a href="/login" >LOG IN</a>  </li>  
 <li class="right"> <a href="/signup" >SIGN UP</a></li>
 <li class="dropdown"><a href="#" onclick="drop()">&#9776</a></li>
 </ul>
 </nav>

 <div class="container">
 <div> <h3 align="center">Food Available in Catalog</h3> </div>
 <div class="row">
 <div class="col3">
     <h2> Food Name : Cod </h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/cod.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
  <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div>
 <div class="row">
 <div class="col3">
      <h2> Food Name : Cottage Cheese </h2>
      </div>
 <div class="col5">
     <image class='food' src='/images/cottage-cheese.jpg' alt="fooditem"/> 
 </div>
 <div class="col3">
  <div> <h2> Nutriton composition</h2></div>
  <div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>
 </div>

 </div>
 </div>
 <div class="row">
 <div class="col3">
    <h2> Food Name : Eggs</h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/eggs.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div>

 <div class="row">
 <div class="col3">
     <h2> Food Name :Soup Broth </h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/soup-broth.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div><div class="row">
 <div class="col3">
     <h2> Food Name : Vegetable-soup</h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/vegetable-soup.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div>
 <div class="row">
 <div class="col3">
     <h2> Food Name : Watercress</h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/watercress.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
  </ol>

 </div>
 </div>
 </div>
 <div >
 <h3 align ="center"> User Added Items</h3>
 </div>
  <div class="append" id="appen">
      
  </div>
  <div>
 <button onclick="itemsadd()">
   Add more 
   </button>
    <div id="newadd"></div>

    </div>
   <footer class="foot">
   <div class="row">
    <div class="col3 footcol">
     <div class="items">
      <h1 > Company</h1>
     </div>
     <div class="items">
      <h4> About</h4>
    </div>
    <div class="items">
     <h4>carreers</h4>
      </div>  
   </div>
   <div class="col3 footcol">
    <div class="items">
     <h1> Products</h1>
    </div>
    <div class="items">
     <h4> Supplements</h4>
    </div>
    <div class="items">
     <h4>diets</h4>
    </div>  
   </div>

   <div class="col3 footcol">
    <div class="items">
     <h1> Support</h1>
    </div>
   <div class="items">
    <h4 > Supplements</h4>
   </div>
   <div class="items">
    <h4 >diets</h4>
   </div>  
    </div>
    <div class="col3 footcol">
   <div  class="items">
   <h1 >Achievements</h1>
    </div>
    <div class="items">
    <h4 > Supplements</h4>
   </div>
   <div class="items">
   <h4 >diets</h4>
   </div>  
   </div>
   </footer>




    </body>
   </html>