 <html>
 <title>
 Fit birds
 </title>
 <head>
 <link rel="stylesheet" href="css/first2.css">
 <head>

 <body>
  <nav>
    <ul class="top" id="drop">
    <li><a  href="/" id="logopad"><image src="/images/weblogo.png" alt="Fitbirds hoarding"  id="logofix"></a></li>
    <li><a  href="/dash" >CATALOUG</a></li>
    <li><a onclick="formfeed()">FEEDBACK</a></li>
    <li><a  href="#about" >ABOUT US</a></li>
    <li><a  href="mailto:officialkam9@gmail.com" >CONTACT US</a></li>
    <li class="right"><a href="/login" >LOG IN</a>  </li>  
    <li class="right"> <a href="/signup" >SIGN UP</a></li>
    <li class="dropdown"><a href="#" onclick="drop()">&#9776</a></li>
   </ul>
  </nav>
   <div class="tophod">
  <div class="col11 hoard"> </div> <div class="col15 hoard"><p id="formfeed"> </p> </div>
 </div>
 <div> <h3 align="center">Food Available in Catalog</h3> </div>
 <div class="row">
 <div class="col3">
     <h2> Food Name : Cod </h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/cod.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
  <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div>
 <div class="row">
 <div class="col3">
      <h2> Food Name : Cottage Cheese </h2>
      </div>
 <div class="col5">
     <image class='food' src='/images/cottage-cheese.jpg' alt="fooditem"/> 
 </div>
 <div class="col3">
  <div> <h2> Nutriton composition</h2></div>
  <div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>
 </div>

 </div>
 </div>
 <div class="row">
 <div class="col3">
    <h2> Food Name : Eggs</h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/eggs.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div>

 <div class="row">
 <div class="col3">
     <h2> Food Name :Soup Broth </h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/soup-broth.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div><div class="row">
 <div class="col3">
     <h2> Food Name : Vegetable-soup</h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/vegetable-soup.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div>
 <div class="row">
 <div class="col3">
     <h2> Food Name : Watercress</h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/watercress.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
  </ol>

 </div>
 </div>
 </div>
 <div >
 <h3 align ="center"> User Added Items</h3>
 </div>
  <div class="append" id="appen">
      
  </div>
  <div>
 <button onclick="itemsadd()" id="formbutton" style="margin: 0 0px 0 608px;">
   Add more 
   </button>
    <div id="newadd"></div>

    </div>
  <footer class="foot">
   <div class="row">
    <div class="col3 footcol">
     <div class="items">            

      <h1> App Based Gamified Process</h1>
     </div>
     <ul class="items">
      <li>Leaderboard</li>
     <li>Moderated health Clubs</li>
     <li>Tasks & Objectives</li>
     <li>Instant follow ups</li>
    </ul> 
   </div>
   <div class="col3 footcol">
    <div class="items">
     <h1> High Engagement </h1>
    </div>
    <ul class="items">
     <li>Marketing & Promotion</li>
     <li>Fitness & Nutrition drives</li>
     <li>Fitness & Nutrition drives</li>
     <li>Registration Kiosks</li>
     <li>Webinars & Lives</li>
    </ul>
   </div>

   <div class="col3 footcol">
    <div class="items">
     <h1> Health Delivered </h1>
    </div>
   <ul class="items">
    <li> Highly Qualified Coaches</li>
    <li>Diet & Workout Plans</li>
    <li> Content Educate Users</li>
    <li>Personalised Coaching </li>
    </ul>
   </div> 
  
  <div class="col3 footcol">
  <div  class="items">
   <h1 >Measurable Impact</li>
  </div>
  <ul class="items">
   <li> Monthly Company Report</li>
   <li>Individual Progress</li>
   <li> Actionable Insight</li>
   <li> Dashboards</li>
  </ul> 
  </div>
<div class="contactus">
 <a href="http://www.fb.com/kamil_rajput" class='endstrip'>Facebook</a>
  <a href="http://www.yt.com/kamil_rajput" class='endstrip'>YouTube</a> 
 <a href="http://www.instagram.com/kamil_rajput" class='endstrip'>Instagram</a>
 <a href="http://www.Linkedin.com/kamil_rajput" class='endstrip'>MyClub</a>
<a href="mailto:officialkam9@gmail.com" class='endstrip'>CONTACT US </a>
<a class='endstrip'>&copy; Fitbirds 2021</a>
</div>
</div>
  </footer>


<style>

.append{
	width:100%;
	margin:auto;
	padding : 4% 0 4% 0;
		
	
}

customitem{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	align-items:center;

}


.food{
        border-radius:50%;
     }

    

</style>
  <script type="text/javascript" src="script/javascript.js"></script>
    </body>
   </html>