<html>
<head>
<title>
Fit birds
</title>
<link rel="stylesheet" href="/css/first2.css">
<script type="text/javascript" src="/script/javascript.js"></script>
</head>
  <body>
  <nav>
    <ul class="top" id="drop">
    <li><a  href="/" id="logopad"><image src="/images/weblogo.png" alt="Fitbirds hoarding"  id="logofix"></a></li>
    <li><a  href="/dash" >CATALOUG</a></li>
    <li><a onclick="formfeed()">FEEDBACK</a></li>
    <li><a  href="#about" >ABOUT US</a></li>
    <li><a  href="mailto:officialkam9@gmail.com" >CONTACT US</a></li>
    <li class="right"><a href="/login" >LOG IN</a>  </li>  
    <li class="right"> <a href="/signup" >SIGN UP</a></li>
    <li class="dropdown"><a href="#" onclick="drop()">&#9776</a></li>
   </ul>
  </nav>
   <div class="tophod">
  <div class="col11 hoard"> </div> <div class="col15 hoard"><p id="formfeed"> </p> </div>
 </div>
<div class="container">
<p id="formfeed"> </p> 
 <div class="row" style="background: yellowgreen;border-radius: 104px;margin:0 0 74px 0">
 <div class="col20"> <h1 align="center" >YOUR CARE DIET PLANS </h1> </div>
 <div class="row planpack">

       <div class="col13 plans" > <div class="price">  <h3> BASIC</h3>  <h1> FREE</h1>
       
       <div><table class="tabletext" cellpadding="10px">
         <tr><th>Availablity </th><td></td><td></td><td></td><td>24/7 </td></tr>
          <tr><th>Coach </th><td></td><td></td><td></td><td>NO </td></tr>
          <tr><th> Assistance</th><td></td><td></td><td></td><td> NO </td></tr>
          <tr><th> Offers </th><td></td><td></td><td></td><td> NA </td></tr> 
       </table></div> <div> <button class="smallbutton"> CLAIM ME  </button></div> </div>
    </div>
      <div class="col13 plans"> <div class="price"> <h3> BASIC+ASSISTANCE </h3><h1> ₹399/- (INR)</h1> 
         <div><table class="tabletext" cellpadding="10px">
         <tr><th>Availablity </th><td></td><td></td><td></td><td>24/7 </td></tr>
          <tr><th>Coach </th><td></td><td></td><td></td><td>NO </td></tr>
          <tr><th> Assistance</th><td></td><td></td><td></td><td> YES </td></tr>
          <tr><th> Offers </th><td></td><td></td><td></td><td> NA </td></tr> 
       </table></div> <div> <button class="smallbutton"> BUY ME </button></div>  </div>
    </div>
  <div class="col13 plans" >
       <div class="plan"> <div class="price"> <h3> BASIC+ADVANCED ASSISTANCE</h3> <h1> ₹1275/- (INR)</h1>
          <div><table class="tabletext" cellpadding="10px">
          <tr><th>Availablity </th><td></td><td></td><td></td><td>24/7 </td></tr>
          <tr><th>Coach </th><td></td><td></td><td></td><td>YES </td></tr>
          <tr><th> Assistance</th><td></td><td></td><td></td><td> YES </td></tr>
          <tr><th> Offers </th><td></td><td></td><td></td><td> 20%off </td></tr> 
       </table></div> <div> <button class="smallbutton"> BUY ME </button></div> </div>
    </div>
 </div>
 </div>
 </div>
 </div>
  <footer class="foot">
   <div class="row">
    <div class="col3 footcol">
     <div class="items">
      <h1 > Company</h1>
     </div>
     <div class="items">
      <h4> About</h4>
    </div>
    <div class="items">
     <h4>carreers</h4>
      </div>  
   </div>
   <div class="col3 footcol">
    <div class="items">
     <h1> Products</h1>
    </div>
    <div class="items">
     <h4> Supplements</h4>
    </div>
    <div class="items">
     <h4>diets</h4>
    </div>  
   </div>

   <div class="col3 footcol">
    <div class="items">
     <h1> Support</h1>
    </div>
   <div class="items">
    <h4 > Supplements</h4>
   </div>
   <div class="items">
    <h4 >diets</h4>
  </div>  
 </div>
 <div class="col3 footcol">
  <div  class="items">
   <h1 >Achievements</h1>
  </div>
  <div class="items">
   <h4 > Supplements</h4>
  </div>
  <div class="items">
   <h4 >diets</h4>
  </div>  
 </div>
</footer>
</body>
<style>

.plans{
border: 5px inset;
border-radius:5%;
justify:center; 	
background: orange;
text-align:center;
color:purple;
margin: 0 0 66px 22px 
	
}

.price{
	margin:auto;
	
}

.tabletext{
margin: auto;
color:white;
font-size:25px;

}

</style>


</body>
 </html>