
.col0{width:40%;}
.col1{width:40%;}
.col2{width:30%;}
.col3{width:25%;}
.col4{width:41.33%;}
.col5{width:50%;}
.col6{width:58.33%;}
.col7{width:16%;}
.col8{width:70%;}
.col9{width:83.33%;}
.col10{width:91.33%;}
.col11{width:100%;}

.row{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	align-items:center;

}


.container{
	width:100%;
	margin:auto;
	padding : 4% 0 4% 0;
	background-color:orange;	
	
}


#result{
	
	color:green;
}

